<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>Edit your Listing</h3>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required minlength="3" maxlength="50">
                <div class="invalid-feedback">
                    Enter a title
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required minlength="10" maxlength="500"><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Enter a description
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required min="399" step="0.01" max="999999.99">
                    <div class="invalid-feedback">
                        Price can not be less than 399
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required maxlength="50">
                    <div class="invalid-feedback">
                        Enter a valid country
                    </div>
                </div>
            </div>
            <div>
                <label for="image" class="form-label">Current Image: </label><br />
                <img src="<%= originalImageUrl %>" width="200" height="200">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label"> Upload New Image</label>
                <input type="file" name="listing[image]" class="form-control">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required maxlength="50">
                <div class="invalid-feedback">
                    Enter a location
                </div>
            </div>
            <button type="submit" class="btn btn-dark edit-btn">Edit Listing</button>
            <br><br>
        </form>
    </div>
</div>
